* {
    margin: 0;
    padding: 0;
    color: #0011ff;
}

header {
    width: 100%;
    height: 100px;
    background-color: #fd4e4e;
}

nav {
    width: 30%;
    min-height: 400px;
    background-color: #e6eb6e;
    float: left;
}

main {
    width: 70%;
    min-height: 400px;
    background-color: #71ff4e;
    float: right;
}

footer {
    clear: both;
    width: 100%;
    height: 50px;
    background-color: #8656ff;
}