* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    font-style: bold;
    font-family: Arial, sans-serif;
}

nav {
    float: left;
    width: 30%;
    min-height: 400px;
    background-color: #fdff97;
}
main {
    float: left;
    width: 50%;
    min-height: 400px;
    background-color: #b7ffa5;
}
aside {
    float: right;
    width: 20%;
    min-height: 400px;
    background-color: #f38f8f;
}
footer {
    clear: both;
    width: 100%;
    height: 60px;
    background-color: #a781ff;
}